{% extends "base.html" %}
{% block content %}
{% load staticfiles %}


<div id="main">
{% for obj in object_list %}

    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>
            </div>
            <div class="meta">
                <time class="published" datetime="{{ obj.publish }}">{{ obj.publish }}</time>
                <div class="author">
                    {% if obj.user.get_full_name %}
                    <span class="name">
                        {{ obj.user.get_full_name }}
                    </span>
                    {% endif %}
                </div>
            </div>
        </header>
        {% if obj.image %}
        <a href="{{ obj.get_absolute_url }}" class="image featured"><img src="{{ obj.image.url }}" alt="" /></a>
        {% endif %}
        
        <!-- <p>The Academic Senate recently decided that all instructors will be required to show the answer scripts of the Mid Semester examinations within 14 days of the end of the exams. Vox contacted Prof. Neeraj Mishra, Dean of Academic Affairs, for further details on the matter.
        </p> -->
        <!-- {{ obj.get_markdown|truncatechars_html:250 }} -->
        {{ obj.intro }}
        <br><br>
        <footer>
            <ul class="actions">
                <li><a href="{{ obj.get_absolute_url }}" class="button big">Continue Reading</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon fa-heart">28</a></li>
                <li><a href="#" class="icon fa-comment">128</a></li>
            </ul>
        </footer>
    </article>

{% endfor %}

    <ul class="actions pagination">
<!-- <span class="step-links"> -->
    {% if object_list.has_previous %}
        <li><a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="button big previous">previous</a></li>
    {% endif %}

    <!-- <span class="current"> -->
        <li><a class="button big">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</a></li>
    <!-- </span> -->

    {% if object_list.has_next %}
        <li><a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="button big next">next</a></li>
    {% endif %}
<!-- </span> -->
    </ul>

</div>

<section id="sidebar">

<!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src="/static/images/fmc.jpg" alt="" /></a>
        <header>
            <h2>Films & Media Council</h2>
            <p>Get to know what all is going around the campus in one place.</p>
        </header>
    </section>

<!-- Mini Posts -->
    <section>
        <div class="mini-posts">

            <!-- Mini Post -->
                <article class="mini-post">
                    <header>
                        <h3><a href="#">Vitae sed condimentum</a></h3>
                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                        <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                    </header>
                    <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                </article>

            <!-- Mini Post -->
                <article class="mini-post">
                    <header>
                        <h3><a href="#">Rutrum neque accumsan</a></h3>
                        <time class="published" datetime="2015-10-19">October 19, 2015</time>
                        <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                    </header>
                    <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                </article>

        </div>
    </section>

<!-- Posts List -->
    <section>
        <ul class="posts">
            <li>
                <article>
                    <header>
                        <h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                    </header>
                    <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h3><a href="#">Convallis maximus nisl mattis nunc id lorem</a></h3>
                        <time class="published" datetime="2015-10-15">October 15, 2015</time>
                    </header>
                    <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
                </article>
            </li>
            
        </ul>
    </section>

<!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

<!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>

</section>
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->

{% endblock content %}